@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* -------------global styles---------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  width: 100%;
}

.btn {
  padding: 3px 8px;
  background-color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.seperation-line {
  height: 0.5rem;
  background-color: rgb(35, 35, 35);
  width: 100%;
}

/* ------------------------------main section----------------------------------- */

.main {
  height: 100%;
  width: 100%;
  background-image: url(assets/images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.main .box {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: black;
  opacity: 0.67;
}

nav {
  max-width: 70vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  flex-wrap: wrap;
}

.logo {
  position: relative;
  z-index: 1;
  color: rgb(229, 9, 20);
}

.nav-menus {
  position: relative;
  z-index: 1;
  display: inline-flex;
  gap: 20px;
}

.btn-lang {
  background: transparent;
  color: white;
  border: 2px solid #5e5e5f;
  padding: 6px 27px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 17px;
}

.btn-red-sm {
  background-color: #e50815;
  color: white;
  border-radius: 0.25rem;
  border: 0 solid transparent;
  font-size: 0.875rem;
  font-weight: 600;
  min-height: 2rem;
  padding: 3px 18px;
}
.nav-menus span {
  color: white;
  font-size: 2.3rem;
  font-weight: 400;
  display: none;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  height: calc(100% - 60px);
  position: relative;
  gap: 23px;
  font-family: "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
  padding: 12rem;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
}

.hero > :first-child {
  font-size: 45px;
  font-weight: 900;
  text-align: center;
}

.hero > :nth-child(2) {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}

.hero > :nth-child(3) {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}

.register {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 8px;
}

.register input {
  line-height: 1.5;
  font-size: 16px;
  border-radius: 5px;
  padding: 15px 11px;
  border: 1px solid grey;
  background: rgba(18, 19, 19, 0.56);
  outline: none;
}

.register input:focus {
  color: white;
  outline: 1px solid white;
  background: #2b324096;
}

.register input::placeholder {
  transition: transform 250ms cubic-bezier(0.9, 0, 0.51, 1);
  color: rgba(184, 184, 184, 1);
}

.register input:focus::placeholder {
  transform: scale(0.75) translateY(-90%) translateX(-50px);
}

.register input:active {
  background: rgba(0, 0, 0, 0.14);
}

.btn-red {
  background-color: #e50815;
  color: white;
  border: 0 solid transparent;
  font-size: 22px;
  border-radius: 5px;
  padding: 3px 24px;
  align-items: center;
  font-weight: 550;
  line-height: 1;
}

.btn-red > svg {
  vertical-align: middle;
  padding-left: 6px;
  width: 40px;
  height: 35px;
}

.btn-red:hover,
.btn-red-sm:hover {
  transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
  background: rgb(193, 17, 25);
}

/* ------------------------------seperation section ----------------------------------- */

.seperation-container {
  width: 100%;
  position: relative;
}

.seperation {
  background: radial-gradient(
    51.39% 511.66% at 47.68% -217.91%,
    #ff9900 0%,
    #e50914 17.27%,
    #0e1b4f 79.44%,
    #000413 100%
  );
  padding: 30px 22px;
  color: white;
  display: flex;
  gap: 35px;
  margin: auto;
  justify-content: center;
  font-family: Poppins;
  position: sticky;
  max-width: 95%;
  transform: translateY(-20%);
  flex-wrap: wrap;
  z-index: 10;
}

.seperation p:nth-child(1) {
  font-weight: 600;
  font-size: 20px;
  line-height: 2rem;
}

.seperation p:nth-child(2) {
  font-weight: 500;
  font-size: 16px;
  line-height: 2rem;
}

.seperation a {
  color: #448ef4;
  font-weight: 500;
  font-size: 17px;
}

.seperation a > span {
  margin-left: 10px;
  font-size: 18px;
}

/* ----------------------------------- first section ---------------------------------------------- */

.enjoy-tv,
.watch-everywhere,
.kids-profile,
.download-shows {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80vw;
  margin: auto;
  padding-bottom: 40px;
  flex-direction: row;
}

.enjoy-tv-info,
.watch-everywhere-info,
.kids-profile-info,
.download-shows-info {
  color: white;
  font-family: Poppins;
}

.enjoy-tv-info h1,
.watch-everywhere-info h1,
.kids-profile-info h1,
.download-shows-info h1 {
  font-size: 45px;
  font-weight: 650;
}

.enjoy-tv-info p,
.watch-everywhere-info p,
.kids-profile-info p,
.download-shows-info p {
  font-size: 25px;
  font-weight: 400;
  margin: 10px 0;
}

.tv-img {
  position: relative;
}

.tv-img video {
  position: absolute;
  top: 46%;
  left: 50%;
  z-index: -1;
  width: 100%;
  height: 100%;
  max-width: 73%;
  max-height: 54%;
  transform: translate(-50%, -50%);
}

/* ----------------------------------- second section ---------------------------------------------- */

.watch-everywhere,
.kids-profile,
.download-shows {
  padding: 4rem 0;
}

.mac-img video {
  top: 32%;
  left: 48%;
  max-width: 62%;
  max-height: 60%;
}

.download-img {
  position: relative;
}

.stranger-things {
  display: flex;
  background-color: black;
  border: 2px solid rgba(128, 128, 128, 0.7);
  box-shadow: 0 0 2em 0 rgb(0, 0, 0);
  border-radius: 0.75rem;
  position: absolute;
  padding: 15px;
  gap: 11px;
  align-items: center;
  z-index: 1;
  bottom: 8%;
  left: 24%;
  width: 53%;
  font-family: Poppins;
  font-weight: 400;
  margin: 0 auto;
}

.stranger-things > * {
  margin: 0 1rem 0 0;
}

.stranger-things-head :first-child {
  color: white;
  font-size: 16px;
}

.stranger-things-head:nth-child(2) {
  color: rgb(0, 113, 235);
  font-size: 14px;
}
.stranger-things :nth-child(3) {
  width: 48px;
  height: 48px;
}

/* ----------------------------------faq-section----------------------------------- */

.faq-section {
  padding: 60px 0;
  color: white;
  max-width: 75vw;
  margin: auto;
  font-family: Poppins;
}

.faq-section > p {
  text-align: center;
  font-size: 40px;

  font-weight: 800;
  padding-bottom: 1.2rem;
}

.faq-container {
  margin-bottom: 30px;
}

.faq {
  font-size: 22px;
  font-weight: 400;
  width: 100%;
  cursor: pointer;
  margin-bottom: 6px;
}

.faq-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(45, 45, 45);
  padding: 1.5rem;
  margin-bottom: 2px;
}

.faq-head:hover {
  transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
  background-color: rgb(65, 65, 65);
}
.faq-description {
  overflow: hidden;
  display: none;
  text-align: left;
  max-height: 75rem;
  padding: 1.5rem;
  background-color: rgb(45, 45, 45);
}

/* ------------footer------------------------------ */
footer {
  max-width: 75vw;
  margin: auto;
  padding: 60px 0 50px 0;
  color: rgba(255, 255, 255, 0.7);
  font-family: Poppins;
  font-weight: 400;
}

.footer-links-container {
  display: flex;
  justify-content: space-between;
  max-width: 65vw;
  padding: 8px 0 25px 0;
  flex-wrap: wrap;
}
footer :first-child,
footer :first-child > a {
  font-size: 16px;
}

.footer-links-container ul {
  list-style: none;
}

.footer-links-container ul > li {
  padding: 5px 0;
}

footer a {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
}

footer :last-child {
  font-size: 14px;
  padding: 20px 0;
}

/* ------------------------------Multiple Device Responsiveness -------------------- */

/* ---------------x-large devices---------------------------------------------- */

@media only screen and (min-width: 1800px) {
  .logo img {
    width: 180px;
    height: 150px;
  }

  .hero > :first-child {
    font-size: 55px;
  }

  .hero > :nth-child(2) {
    font-size: 33px;
  }

  .hero > :nth-child(3) {
    font-size: 27px;
  }

  .btn-lang {
    padding: 10px 45px;
    font-size: 25px;
    border-radius: 8px;
  }

  .btn-red-sm {
    padding: 10px 35px;
    font-size: 25px;
    border-radius: 8px;
  }

  img.img-size {
    width: 760px;
    height: 550px;
  }

  .enjoy-tv-info h1,
  .watch-everywhere-info h1,
  .kids-profile-info h1,
  .download-shows-info h1 {
    font-size: 60px;
    font-weight: 650;
  }

  .enjoy-tv-info p,
  .watch-everywhere-info p,
  .kids-profile-info p,
  .download-shows-info p {
    font-size: 30px;
    font-weight: 400;
  }
}

/* ----------------------------------large devices---------------------------------------------- */

@media only screen and (max-width: 1500px) {
  nav {
    max-width: 90vw;
    margin: auto;
  }

  .hero {
    padding: 13rem 7rem;
  }

  img.img-size {
    width: 530px;
    height: 420px;
  }

  .enjoy-tv-info p,
  .watch-everywhere-info p,
  .kids-profile-info p,
  .download-shows-info p {
    font-size: 20px;
    font-weight: 400;
  }
}

/* ----------------------------------- medium  devices ---------------------------------------------- */

@media only screen and (max-width: 1025px) and (min-width: 710px) {
  nav {
    height: 60px;
    flex-wrap: wrap;
  }

  .hero {
    padding: 11rem 1rem;
  }

  .hero > :first-child {
    font-size: 40px;
  }

  .hero > :nth-child(2) {
    font-size: 22px;
  }

  .hero > :nth-child(3) {
    font-size: 20px;
  }
}

@media only screen and (max-width: 1220px) {
  .enjoy-tv-info,
  .watch-everywhere-info,
  .kids-profile-info,
  .download-shows-info {
    text-align: center;
  }

  .enjoy-tv,
  .watch-everywhere,
  .kids-profile,
  .download-shows {
    padding-top: 35px;
    flex-wrap: wrap;
    gap: 25px;
  }
  .watch-everywhere,
  .download-shows {
    flex-direction: column-reverse;
  }
  .faq-section {
    padding: 60px 0;
    color: white;
    max-width: 90vw;
    margin: auto;
    font-family: Poppins;
  }
  .faq-hero-btn {
    font-size: 16px;
  }

  .faq {
    font-size: 19px;
  }
  .faq-hero-btn-svg {
    width: 30px !important;
    height: 30px !important;
  }

  footer {
    max-width: 95vw;
    margin: auto;
    padding: 60px 0 50px 0;
    color: rgba(255, 255, 255, 0.7);
    font-family: Poppins;
    font-weight: 400;
  }
  .footer-links-container {
    max-width: 95vw;
  }
  .footer-links-container ul {
    width: 50%;
  }
}

@media only screen and (max-width: 709px) {
  .hero {
    padding: 8rem 5rem;
  }

  .hero > :first-child {
    font-size: 37px;
  }
  .hero > :nth-child(2) {
    font-size: 23px;
  }

  .hero > :nth-child(3) {
    font-size: 20px;
  }

  .register {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
  }

  .register input {
    width: 70%;
    padding: 11px 11px;
  }

  .btn-red {
    padding: 8px 8px;
    width: 35%;
    margin: auto;
  }
}

/* ----------------------------------- small devices ---------------------------------------------- */

@media only screen and (max-width: 660px) {
  .hero {
    padding: 6rem 2rem;
  }
  .faq-section > p {
    font-size: 30px;
  }
}

@media only screen and (max-width: 580px) {
  nav {
    padding: 0 1em;
  }
  .logo img {
    width: 125px;
    height: 100px;
  }

  .nav-menus {
    gap: 10px;
  }

  .nav-menus span {
    display: block;
  }

  .logo img {
    width: 110px;
    height: 80px;
  }

  .nav-menus button {
    display: none;
  }

  .btn-red {
    font-size: 20px;
    padding: 11px 4px;
    align-items: center;
    font-weight: 550;
    width: 45%;
    vertical-align: middle;
  }

  .btn-red > svg {
    vertical-align: middle;
    width: 40px;
    height: 30px;
  }

  .seperation {
    transform: translateY(-10%);
  }

  .seperation svg {
    width: 80px;
    height: 100px;
    position: absolute;
    top: -50px;
    left: 30px;
  }

  .seperation .offer {
    margin-top: 40px;
  }

  img.img-size {
    width: 420px;
    height: 330px;
  }

  .enjoy-tv,
  .watch-everywhere,
  .kids-profile,
  .download-shows {
    gap: 15px;
  }

  .enjoy-tv-info h1,
  .watch-everywhere-info h1,
  .kids-profile-info h1,
  .download-shows-info h1 {
    font-size: 40px;
    font-weight: 650;
  }

  .enjoy-tv-info p,
  .watch-everywhere-info p,
  .kids-profile-info p,
  .download-shows-info p {
    font-size: 15px;
    font-weight: 500;
  }
  .stranger-things {
    padding: 5px 10px;
    width: 54%;
  }

  .stranger-things img {
    width: 50px;
    height: 60px;
  }

  .stranger-things-head :first-child {
    color: white;
    font-size: 12px;
  }

  .stranger-things-head:nth-child(2) {
    color: rgb(0, 113, 235);
    font-size: 11px;
  }

  .faq-hero-btn {
    font-size: 16px;
  }
}

@media only screen and (max-width: 450px) {
  .hero > :first-child {
    font-size: 30px;
  }

  .hero > :nth-child(2) {
    font-size: 23px;
  }

  .hero > :nth-child(3) {
    font-size: 18px;
    padding: 14px;
  }

  .btn-red {
    font-size: 18px;
    padding: 11px 6px;
    width: 50%;
  }

  .register input {
    width: 80%;
    padding: 11px 11px;
  }

  .register input:focus::placeholder {
    transform: scale(0.75) translateY(-90%) translateX(-30px);
  }

  .btn-red > svg {
    width: 30px;
    height: 25px;
  }

  img.img-size {
    width: 330px;
    height: 280px;
  }

  .enjoy-tv-info h1,
  .watch-everywhere-info h1,
  .kids-profile-info h1,
  .download-shows-info h1 {
    font-size: 27px;
    font-weight: 650;
  }

  .stranger-things {
    padding: 5px 30px;
    width: 95%;
    left: 5%;
  }

  .stranger-things img {
    width: 40px;
    height: 50px;
  }
  .faq-hero-btn {
    font-size: 14px;
    padding: 2px 2px;
    width: 65%;
  }
}

/* ----------------------------------- x-small devices ---------------------------------------------- */

@media only screen and (max-width: 375px) {
  .btn-red {
    font-size: 14px;
    padding: 8px 5px;
    width: 56%;
  }
  img.img-size {
    width: 240px;
    height: 200px;
  }

  .enjoy-tv-info h1,
  .watch-everywhere-info h1,
  .kids-profile-info h1,
  .download-shows-info h1 {
    font-size: 23px;
    font-weight: 650;
  }

  .enjoy-tv-info p,
  .watch-everywhere-info p,
  .kids-profile-info p,
  .download-shows-info p {
    font-size: 13px;
    font-weight: 500;
  }

  .stranger-things {
    padding: 5px 2px;
  }
}

@media (min-width: 0px) and (max-width: 3000px) {
  .faq-hero {
    padding: 20px;
  }
}
